In [1]:
import pandas as pd
import pyodbc
import re

In [2]:
trans_type_list = { 
    'deposits' : [
        'DIRECT DEPOSIT',
        'DEPOSIT', 
        'M&T ATM CHECK DEPOSIT',
        'M&T ATM CASH DEPOSIT',
        'MOBILE DEPOSIT',
        'VISA PURCHASE CREDIT'
    ],

    'purchases_payments' : [
        'CHECK PAID',
        'VISA PURCHASE',
        'CARD PURCHASE',
        'VISA PURCHASE (RECURRING)',
        'VISA PIN PURCHASE',
        'PURCHASE WITH CASH BACK',
        'VISA PIN PURCHASE WITH CASH BACK',
        'WEB BILL PAYMENT FROM CHECKING',
        'WEB PAYMENT TO CREDIT CARD',
        'WEB PAYMENT',
        'ACH MISCELLANEOUS DEBIT',
        'AUTO PAYMENT TO M&T BANK'    
    ],

    'withdrawals' : [
        'PREAUTHORIZED WITHDRAWAL',
        'QUICK BANK WITHDRAWAL',
        'ATM WITHDRAWAL',
        'COUNTER WITHDRAWAL'  
    ],

    'transfers' : [
        'WEB TRANSFER TO CHECKING',
        'WEB TRANSFER FROM CHECKING',
        'VISA MONEY TRANSFER',
        'TELLER TRANSFER CREDIT',
        'INCOMING FEDWIRE FUNDS TRANSFER        &',
        'TELLER TRANSFER DEBIT',
        'QUICKBANK TXF FROM SAV TO DDA',
        r'ZELLE P2P PAYMENT SENT                 \\',
        r'ZELLE P2P PAYMENT RECEIVED             \\',
        'CREDIT LINE TRANSFER-M&T BANK'    
    ],

    'fees' : [
        'NON-M&T ATM FEE',
        'INTERNATIONAL TRANSACTION FEE',
        'WAIVE ADD-ON FEE: NON M&T ATM FEE WAIVER',
        'INSUFFICIENT FUNDS FEE',
        'M&T ADD-ON FEE: NON M&T ATM FEE REFUND',
        'WAIVE ADD-ON FEE: NON M&T ATM FEE REFUND',
        'M&T ADD-ON FEE: CHKS/SAFE DEPOSIT BOX',
        'WAIVE ADD-ON FEE: CHKS/SAFE DEPOSIT BOX',
        'M&T ADD-ON FEE: NON M&T ATM FEE WAIVER',
        'EFT SERVICE CHARGE',
        'NON-M&T ATM FEE REV',
        'M&T ADD-ON FEE: OVERDRAFT TRANSFERS',
        'WAIVE ADD-ON FEE: OVERDRAFT TRANSFERS',
        'BUNDLE FEE WAIVER',
        'OVERDRAFT BALANCE EXCESS FEE',
        'SERVICE CHARGE',
        'ATM SURCHARGE REBATE',
        'CHECK VENDOR CHARGE',
        'REVERSE MONTHLY SERVICE CHARGE',
        'REVERSE INSUFFICIENT FUNDS FEE',
        'MONTHLY SERVICE CHARGE',
        'SERVICE CHG WAIVE- RELATIONSHIP PRICING'    
    ],

    'misc' : [
        'ACH CONVERTED CHECK',
        'OVERDRAFT TRANSFER FROM CREDIT CARD',
        'FEDERAL WITHHOLDING ON INTEREST PAYMENT',
        'OD PROTECTION FUND TRANSFER',
        'REVERSE CARD PURCHASE',
        'VISA PIN CREDIT VOUCHER/MERCHANDISE RET',
        'DEBIT CARD DISPUTE PROVISIONAL CREDIT',
        'NSF ITEM PRESENTED NOTATION',
        'CLOSEOUT',
        'INTEREST PAYMENT'  
    ]
}

load_order = [1,2]

metrics = ['transaction_amt', 'trans_post_ledger_bal_amt']

#string and lists to build
loop_string = ''
int_cols = []
float_cols = []

#create transaction counts
for j in load_order:
    loop_string += ",sum(case when cal1.load_order = {0} then 1 else 0 end) as trans_count_total_{0}".format(j)
    int_cols.append("trans_count_total_{0}".format(j))
    while j+1 < 3:
        loop_string += ",sum(case when cal1.load_order = {0} then 1 else 0 end) - sum(case when cal1.load_order = {1} then 1 else 0 end) as trans_count_total_dif".format(j,j+1)
        int_cols.append("trans_count_total_dif".format(j,j+1))
        break
    for i in trans_type_list:
        loop_string += ",sum(case when dt.transaction_desc in ({0}) and cal1.load_order = {1} then 1 else 0 end) as trans_count_{2}_{1}".format(','.join(["'"+l+"'" for l in trans_type_list[i]]) ,j,re.sub(r'\W+', '_', i).strip())
        int_cols.append("trans_count_{1}_{0}".format(j,re.sub(r'\W+', '_', i).strip()))
        while j+1 < 3:
            loop_string += ",sum(case when dt.transaction_desc in ({0}) and cal1.load_order = {1} then 1 else 0 end) - sum(case when dt.transaction_desc in ({0}) and cal1.load_order = {3} then 1 else 0 end) as trans_count_{2}_dif".format(','.join(["'"+l+"'" for l in trans_type_list[i]])  ,j,re.sub(r'\W+', '_', i).strip(),j+1)
            int_cols.append("trans_count_{0}_dif".format(re.sub(r'\W+', '_', i).strip()))
            break

#create averaging metrics
for j in load_order:
    for k in metrics:        
        loop_string += ",avg(case when cal1.load_order = {0} then dt.{1} else 0 end) as {1}_{0}".format(j,k)
        float_cols.append("{1}_{0}".format(j,k))
        while j+1 < 3:
            loop_string += ",avg(case when cal1.load_order = {0} then dt.{2} else 0 end) - sum(case when cal1.load_order = {1} then dt.{2} else 0 end) as {2}_dif".format(j,j+1,k)
            float_cols.append("{0}_dif".format(k))
            break
        for i in trans_type_list:
            loop_string += ",avg(case when dt.transaction_desc in ({1}) and cal1.load_order = {2} then dt.{0}  else 0 end) as {0}_{3}_{2}".format(k,','.join(["'"+l+"'" for l in trans_type_list[i]]) ,j,re.sub(r'\W+', '_', i).strip())
            float_cols.append("{0}_{2}_{1}".format(k,j,re.sub(r'\W+', '_', i).strip()))
            while j+1 < 3:
                loop_string += ",avg(case when dt.transaction_desc in ({1}) and cal1.load_order = {2} then dt.{0}  else 0 end) - avg(case when dt.transaction_desc in ({1}) and cal1.load_order = {4} then dt.{0}  else 0 end) as {0}_{3}_dif".format(k,','.join(["'"+l+"'" for l in trans_type_list[i]]) ,j,re.sub(r'\W+', '_', i).strip(),j+1)
                float_cols.append("{0}_{1}_dif".format(k,re.sub(r'\W+', '_', i).strip()))
                break

In [ ]:
print(loop_string)

### Define Query

In [7]:
queryfromProd = r"""

with cte1 as (
select
        businessmonthbegin
        ,businessmonthend
        ,bcal.as_of_date
        ,year_val
        ,month_val
        , rw-1 as load_order
    from 
        (select 
        as_of_date
        ,row_number() over(order by as_of_date desc) as rw
        from
            (select distinct trunc(business_date, 'month')  as as_of_date
            from p_cdp_v4.deposit_transaction_monthly) a
        ) b
    inner join
        (select distinct
        to_date(calendar_date) as as_of_date
        ,businessmonthbegin
        ,businessmonthend
        ,year(businessmonthbegin) as year_val
        ,month(businessmonthbegin ) as month_val
        from p_cdp_v4.businesscalendar bci) bcal
        on bcal.as_of_date = b.as_of_date),

cal1 as (
    select 
        to_date(businessmonthbegin) as businessmonthbegin
        ,to_date(businessmonthend) as businessmonthend
        ,cast(regexp_replace(cast(as_of_date as char(10)),'-','') as int) as as_of_date
        ,year_val
        ,month_val
        ,load_order
    from cte1 
    order by load_order asc, businessmonthend asc limit 3)
 
SELECT
     p3.party_key
    ,datediff(p3.as_of_date , p3.birth_dt) /365 as person_age
    ,case when p3.gender_cd in ('5', 'Male') then 1 else 0 end as male
    ,case when p3.gender_cd in ('6', 'Female') then 1 else 0 end as female
    ,datediff(p3.as_of_date, p3.account_open_dt) as account_age_days
    ,coalesce(case when p3.account_lob_desc like 'Closed%' then 1 else 0 end, 0) as Closed_within_next_month
    --aggregations
    ,dtm.*

FROM 
    (select 
    dt.account_key
    {0}
    from
    p_cdp_v4.deposit_transaction_monthly dt
    inner join (
        select 
        cal1.businessmonthend
        , cal1.businessmonthbegin
        , load_order 
        from 
        cal1 
        where cal1.load_order in (1,2))cal1
        on ((to_date(dt.transaction_post_dt) >= cal1.businessmonthbegin and to_date(dt.transaction_post_dt) <= cal1.businessmonthend
        and cal1.load_order = 1)
        or
        (to_date(dt.transaction_post_dt) >= cal1.businessmonthbegin and to_date(dt.transaction_post_dt) <= cal1.businessmonthend
        and cal1.load_order = 2))
    group by dt.account_key
    )dtm
    
inner join 
    (select 
    p2.party_key
    ,p2.gender_cd
    ,p2.birth_dt
    ,p2.as_of_date
    ,p2.account_key
    ,ma2.account_lob_desc --this is the 1 month later status
    ,ma.account_open_dt
    
    from
        (select
        p.party_key
        ,p.gender_cd
        ,p.birth_dt
        ,p.business_date as as_of_date
        ,dense_rank() over(partition by p.party_key order by p.as_of_date desc) as rw
        ,pa.account_key
        from
        p_cdp_v4.party p
        inner join 
            (select
            pa.party_key
            ,pa.account_key
            ,as_of_date
            from
            p_cdp_v4.party_account pa
            where pa.customer_ind = 'Y'
            ) pa
        on pa.party_key = p.party_key
        and p.as_of_date = pa.as_of_date
        where p.party_type_desc = 'Individual' 
        and--exclude deceased
        trim(p.deceased_ind) = '' 
        and --exclude deceased
        p.deceased_dt is null
        and business_date 
            <=(select 
                cal1.businessmonthend
                from 
                cal1 
                where cal1.load_order in (1) limit 1)
        ) p2
        inner join 
            (select 
            ma.account_key
            ,ma.source_product_cd
            ,ma.account_lob_desc 
            ,ma.account_open_dt
            ,business_date as as_of_date
            -- ,dense_rank() over(partition by ma.account_key order by ma.as_of_date desc) as rw
            from
            p_cdp_v4.master_account ma
            where
            ma.source_product_cd = 'DDA'
            and ma.account_lob_desc not like 'Closed%'
            and ma.source_subproduct_desc in
                (
                'CORP CHEKING WITH INTEREST',
                'M&T SELECT',
                'BROKERAGE CHECKING ACCOUNT',
                'BUSINESS CHECKING I',
                'STUDENT CHECKING',
                'MMDA INV-OWNED ESCROW DEPOSITS',
                'FREE BUSINESS CHECKING',
                'CORPORATE NOT - FOR - PROFIT N.O.W.',
                'BUSINESS CHECKING II w/interest',
                'M&T SELECT WITH INTEREST',
                'MMDA INVESTOR P&I DEPOSITS',
                'PMA ACCOUNT',
                'M&T DIRECT CHECKING',
                'CORPORATE CHECKING',
                'WORRY FREE CHECKING',
                'MYCHOICE PREMIUM CHECKING',
                'M&T FIRST',
                'NON-PROFIT CHECKING',
                'MYCHOICE CHECKING',
                'MUNICIPAL CHECKING WITH INTEREST',
                'COMMERCIAL CHECKING',
                'POWER CHECKING',
                'M&T CLASSIC CHECKING WITH INTEREST',
                'EZCHOICE CHECKING',
                'M&T BANK SWEEP DEPOSIT ACCOUNT',
                'FREE CHECKING',
                'MYCHOICE PLUS CHECKING',
                'BUSINESS CHECKING II',
                'CLASSIC CHECKING',
                'BUSINESS CHECKING I w/interest',
                'BUSINESS PROCHECKING',
                'COLLEGE CHECKING CHECKING',
                'MYCHOICE PLUS CHECKING WITH INTEREST',
                'NON-PROFIT & SOLE PROPRIETOR N.O.W.',
                'M&T FIRST WITH INTEREST',
                'BizFlex Checking',
                'ADVANCED BUSINESS CHECKING',
                'INTERNAL OPERATING',
                'M&T @ WORK CHECKING',
                'BASIC BANKING',
                'BUSINESS FLEXCHECKING'
                )
            ) ma
        on ma.account_key = p2.account_key
        and p2.as_of_date = ma.as_of_date
        and p2.rw = 1
        
        --get account statuses 1 month later 
        left join
            (select 
            * 
            from 
                (select 
                ma.account_key
                ,ma.account_lob_desc 
                -- ,as_of_date
                ,dense_rank() over(partition by ma.account_key order by as_of_date desc) as rwma2
                from
                p_cdp_v4.master_account ma
                where
                ma.source_subproduct_desc in
                    (
                    'CORP CHEKING WITH INTEREST',
                    'M&T SELECT',
                    'BROKERAGE CHECKING ACCOUNT',
                    'BUSINESS CHECKING I',
                    'STUDENT CHECKING',
                    'MMDA INV-OWNED ESCROW DEPOSITS',
                    'FREE BUSINESS CHECKING',
                    'CORPORATE NOT - FOR - PROFIT N.O.W.',
                    'BUSINESS CHECKING II w/interest',
                    'M&T SELECT WITH INTEREST',
                    'MMDA INVESTOR P&I DEPOSITS',
                    'PMA ACCOUNT',
                    'M&T DIRECT CHECKING',
                    'CORPORATE CHECKING',
                    'WORRY FREE CHECKING',
                    'MYCHOICE PREMIUM CHECKING',
                    'M&T FIRST',
                    'NON-PROFIT CHECKING',
                    'MYCHOICE CHECKING',
                    'MUNICIPAL CHECKING WITH INTEREST',
                    'COMMERCIAL CHECKING',
                    'POWER CHECKING',
                    'M&T CLASSIC CHECKING WITH INTEREST',
                    'EZCHOICE CHECKING',
                    'M&T BANK SWEEP DEPOSIT ACCOUNT',
                    'FREE CHECKING',
                    'MYCHOICE PLUS CHECKING',
                    'BUSINESS CHECKING II',
                    'CLASSIC CHECKING',
                    'BUSINESS CHECKING I w/interest',
                    'BUSINESS PROCHECKING',
                    'COLLEGE CHECKING CHECKING',
                    'MYCHOICE PLUS CHECKING WITH INTEREST',
                    'NON-PROFIT & SOLE PROPRIETOR N.O.W.',
                    'M&T FIRST WITH INTEREST',
                    'BizFlex Checking',
                    'ADVANCED BUSINESS CHECKING',
                    'INTERNAL OPERATING',
                    'M&T @ WORK CHECKING',
                    'BASIC BANKING',
                    'BUSINESS FLEXCHECKING'
                    )
                and
                ma.account_lob_desc like'Closed%'
                and
                ma.source_product_cd = 'DDA'
                and
                business_date
                    <=(select 
                        cal1.businessmonthend
                        from 
                        cal1 
                        where cal1.load_order in (0) limit 1)
                ) ma2
                where ma2.rwma2 = 1
            )ma2
        on ma2.account_key = ma.account_key
        and ma2.rwma2 = 1
    ) p3
on p3.account_key = dtm.account_key

order by 
    coalesce(case when p3.account_lob_desc like 'Closed%' then 1 else 0 end, 0) desc
    

""".format(loop_string)

In [8]:
#don't chnage the connection string
prod_connect_string =  'redacted for security'                        
                        
connProd = pyodbc.connect(prod_connect_string,autocommit=True)

In [9]:
%timeit
write_header = True
directory = r'data'
file = r'\deposit_data_full_condensed.csv'
df = pd.read_sql(queryfromProd, connProd, chunksize= 10000)
for chunk in df:
    chunk.to_csv(directory + file, 
                              sep=',', 
                              index = False,
                              header= write_header,
                              encoding = 'utf-8',
                              mode='a')
    write_header = False

In [26]:
df_partial_import = pd.read_csv(directory+file, dtype={**{i: 'int32' for i in int_cols} , **{i: 'float32' for i in float_cols}})

In [33]:
df_partial_import

,party_key,person_age,male,female,account_age_days,closed_within_next_month,account_key,trans_count_total_1,trans_count_total_dif,trans_count_deposits_1,...,transaction_amt_transfers_2,transaction_amt_fees_2,transaction_amt_misc_2,trans_post_ledger_bal_amt_2,trans_post_ledger_bal_amt_deposits_2,trans_post_ledger_bal_amt_purchases_payments_2,trans_post_ledger_bal_amt_withdrawals_2,trans_post_ledger_bal_amt_transfers_2,trans_post_ledger_bal_amt_fees_2,trans_post_ledger_bal_amt_misc_2
0,46531765,49.106849,1,0,90,1,45269591,128,-8,5,...,0.000000,0.056818,0.830720,198.093521,14.256288,157.188217,14.905378,0.000000,5.370076,3.113864
1,47165428,60.095890,1,0,120,1,45047095,1,-4,0,...,0.000000,0.000000,0.000000,1480.333374,0.000000,0.000000,1174.333374,0.000000,0.000000,0.000000
2,37451305,32.739726,0,0,1084,1,37156147,5,0,3,...,0.000000,0.000000,0.000000,52.500000,31.000000,0.000000,21.500000,0.000000,0.000000,0.000000
3,46542092,69.550685,1,0,195,1,44386125,1,-1,0,...,0.000000,0.000000,0.043333,5201.096680,0.000000,2600.526611,0.000000,0.000000,0.000000,2600.570068
4,39019005,89.726027,1,0,4221,1,35940050,11,-2,1,...,0.000000,0.412500,0.014167,24166.349609,1879.345459,9264.235352,7461.556152,0.000000,3707.396240,1853.815430
5,39450691,49.917808,1,0,7104,1,34885009,1,0,0,...,0.000000,2.475000,0.000000,-2.475000,0.000000,0.000000,0.000000,0.000000,-2.475000,0.000000
6,37269847,30.542466,0,1,153,1,44780995,1,0,0,...,0.000000,0.000000,0.040000,5150.165039,0.000000,0.000000,0.000000,0.000000,0.000000,5150.165039
7,45536817,43.720548,0,1,197,1,44342546,0,-2,0,...,1.150000,19.250000,0.000000,-684.260010,0.000000,0.000000,0.000000,-341.554993,-342.704987,0.000000
8,41345999,33.789041,1,0,155,1,44800058,1,-1,0,...,0.000000,4.983333,0.000000,-4.983333,0.000000,0.000000,0.000000,0.000000,-4.983333,0.000000
9,33025145,63.619178,1,0,18381,1,35189583,4,-2,0,...,0.000000,2.990000,0.002000,1312.350952,584.039978,0.000000,0.000000,0.000000,363.408997,182.451996
10,47297436,27.361644,0,0,90,1,45269590,1,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,47274640,20.232877,1,0,98,1,45225840,14,-27,3,...,1.626364,0.000000,0.000000,72.828728,13.903273,47.999092,0.524545,6.953091,0.000000,0.000000
12,31938109,38.054795,1,0,4334,1,35882538,1,1,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,44723728,21.197260,1,0,357,1,43384543,65,27,4,...,0.000000,0.373786,0.000000,77.035919,20.827961,49.864853,6.830194,0.000000,-0.487087,0.000000
14,39029284,100.652055,0,1,18747,1,35091071,16,5,3,...,0.000000,0.366667,0.051852,25051.445312,6987.899414,10895.906250,0.000000,0.000000,4778.330566,2389.308838
15,37134243,83.254795,1,0,3455,1,35230364,17,6,0,...,0.000000,0.353571,0.005714,6662.025391,641.527161,3056.334961,1182.158569,0.000000,1187.940308,594.064270
16,40474492,80.375342,1,0,4515,1,35830364,1,0,0,...,0.000000,0.000000,0.555000,72087.476562,0.000000,0.000000,0.000000,0.000000,0.000000,72087.476562
17,40248873,75.032877,1,0,11527,1,34814339,1,0,0,...,0.000000,0.000000,0.225000,28437.349609,0.000000,0.000000,0.000000,0.000000,0.000000,28437.349609
18,40588969,92.972603,1,0,18381,1,35189583,4,-2,0,...,0.000000,2.990000,0.002000,1312.350952,584.039978,0.000000,0.000000,0.000000,363.408997,182.451996
19,36283934,28.419178,0,1,1964,1,36688729,88,21,6,...,7.096774,0.000000,0.080710,238.840317,31.210646,153.230896,49.838646,4.560129,0.000000,0.000000
20,37804474,72.712329,1,0,2560,1,36096329,4,1,0,...,0.000000,1.414286,0.004286,1657.050049,0.000000,0.000000,0.000000,0.000000,1104.461426,552.588562
21,31979751,32.375342,1,0,1931,1,36850242,2,-1,0,...,0.000000,0.000000,0.000000,130.199997,0.000000,1.400000,0.000000,0.000000,0.000000,0.000000
22,37591913,55.873973,1,0,8390,1,35119667,1,0,0,...,0.000000,7.475000,0.000000,-4.385000,0.000000,0.000000,0.000000,0.000000,-4.385000,0.000000
23,39067068,54.947945,0,0,10576,1,34854150,5,-4,1,...,180.285721,0.707143,0.000000,151.289291,153.571426,54.714287,0.000000,-237.500000,180.503571,0.000000
24,36530507,54.019178,0,1,1688,1,36833459,19,2,0,...,0.000000,0.000000,0.000000,1091.002441,0.000000,1036.219482,54.783054,0.000000,0.000000,0.000000
25,35503156,59.558904,1,0,3483,1,35100352,2,0,0,...,0.000000,5.000000,0.000000,71.739998,0.000000,0.000000,0.000000,0.000000,71.739998,0.000000
26,46467916,24.687671,0,1,242,1,44230515,99,29,7,...,0.682722,0.224260,0.000000,206.121368,33.646450,116.755150,24.914734,12.540770,11.524674,0.000000
27,34508119,64.301370,0,1,1036,1,37028957,7,0,0,...,0.000000,0.000000,0.000000,798.115723,0.000000,0.000000,798.115723,0.000000,0.000000,0.000000
28,38290909,83.172603,0,1,1940,1,36759079,2,-1,0,...,0.000000,1.980000,0.002000,130.626007,0.000000,0.000000,0.000000,0.000000,86.753998,43.872002
29,39448495,75.802740,1,0,7042,1,34871533,3,-1,1,...,0.000000,0.000000,0.002857,1456.307129,424.762848,344.048584,343.444275,0.000000,0.000000,344.051422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469046,39481926,26.704110,0,1,1825,0,36823993,25,-22,3,...,0.000000,0.000000,0.000000,228.441391,16.674583,190.652771,21.114027,0.000000,0.000000,0.000000
2469047,39482208,28.972603,1,0,3359,0,36145603,75,14,4,...,56.786766,0.000000,0.000000,808.570007,80.783974,260.141388,321.808441,145.836182,0.000000,0.000000
2469048,39484565,29.164384,1,0,3602,0,36075122,65,14,1,...,0.000000,0.000000,0.000776,5628.218262,137.957840,5169.714355,228.601212,0.000000,0.000000,91.945175
2469049,39502594,47.153425,0,1,1329,0,37080013,88,6,9,...,5.641177,0.247824,0.866000,278.304474,44.862999,90.858055,70.734177,48.846176,22.148766,0.854294
2469050,39505222,28.298630,0,1,3557,0,36061209,54,-17,4,...,24.000000,0.044160,1.600000,1074.464355,57.507759,862.514160,64.734161,28.380720,30.375839,30.951759
2469051,39511035,62.980822,1,0,3634,0,34962856,17,-6,3,...,14.500000,0.000000,0.000000,1455.947510,240.970505,1191.558960,0.000000,23.417999,0.000000,0.000000
2469052,36505924,51.895890,0,1,1701,0,36907755,56,27,3,...,4.941176,0.000000,0.000000,358.057404,39.379059,259.759766,17.858234,41.060352,0.000000,0.000000
2469053,36506088,36.126027,1,0,1701,0,36647181,173,31,4,...,0.000000,0.038095,0.000000,2796.721680,62.563808,1788.981567,886.277039,0.000000,58.899364,0.000000
2469054,36509630,24.421918,0,1,1691,0,36843103,64,26,5,...,0.000000,0.377451,0.000000,35.560783,10.251177,25.790981,0.000000,0.000000,-0.481373,0.000000
2469055,36538723,70.147945,0,1,1659,0,36824905,90,19,11,...,15.086957,0.228199,0.473292,6632.346191,697.936462,4713.977051,79.527390,270.907501,515.002869,354.995148
2469056,36578202,74.271233,1,0,7855,0,35307666,3,0,1,...,0.000000,0.000000,0.000000,905.315002,618.156677,287.158325,0.000000,0.000000,0.000000,0.000000
2469057,36603174,20.468493,0,1,1583,0,36970228,85,16,7,...,0.530909,0.058442,0.000000,413.851746,27.102858,319.883240,26.368181,24.982403,15.515065,0.000000
2469058,36605216,28.745205,1,0,1575,0,36931609,5,-43,2,...,0.000000,0.726415,15.912075,559.015442,27.376038,468.553589,63.491886,0.000000,-0.619623,0.213585
2469059,36618038,40.936986,1,0,1537,0,36981613,36,-31,3,...,3.883495,0.000000,0.000000,892.512817,93.839027,762.970581,18.812330,16.890873,0.000000,0.000000
2469060,36620774,40.832877,0,1,1568,0,36958882,279,35,9,...,29.043156,0.120134,0.108681,1100.317993,42.586578,877.845581,63.063690,47.000725,56.585697,13.235755
2469061,36620849,22.882192,0,1,1567,0,36877605,34,-5,3,...,0.000000,0.000000,0.000000,131.378357,14.834384,116.543976,0.000000,0.000000,0.000000,0.000000
2469062,36627982,24.734247,0,1,1540,0,36993916,61,-3,4,...,51.953838,0.351200,6.903440,1168.735962,103.881363,680.998413,81.943764,105.243759,160.401199,36.267441
2469063,36667191,20.545205,0,1,859,0,39947045,32,0,7,...,0.000000,0.000000,0.000000,4185.039551,912.121277,3272.918457,0.000000,0.000000,0.000000,0.000000
2469064,36707841,32.052055,0,1,161,0,44561156,55,-16,14,...,28.019365,0.000000,0.000000,374.752380,59.415318,198.978256,45.167858,71.190956,0.000000,0.000000
2469065,36723633,26.879452,0,1,1426,0,37021421,57,-14,3,...,0.000000,0.008594,0.000000,2765.041504,193.907730,2180.781250,326.074677,0.000000,64.277969,0.000000
2469066,36727985,35.920548,1,0,1412,0,36994714,8,5,1,...,0.000000,0.000000,0.000000,16.457273,15.932727,0.524545,0.000000,0.000000,0.000000,0.000000
2469067,36741113,54.632877,0,1,2415,0,36504182,10,-2,2,...,42.909092,0.631818,0.000000,107.005913,46.431362,9.762728,0.000000,51.056820,-0.245000,0.000000
2469068,36756651,47.169863,1,0,1383,0,36938282,5,-4,1,...,0.000000,0.000000,0.005000,4296.944824,1670.382812,1352.562866,422.761414,0.000000,0.000000,851.237854
2469069,36756972,38.180822,0,1,1380,0,37039876,7,5,0,...,22.222221,0.000000,0.000000,49.316666,0.000000,24.047777,0.000000,25.268888,0.000000,0.000000
2469070,36774611,21.186301,1,0,1103,0,37044029,72,15,2,...,3.158915,0.000000,0.000000,181.609222,6.512713,163.329300,1.473798,10.293411,0.000000,0.000000
2469071,36795788,21.438356,1,0,1335,0,36772308,37,18,9,...,23.214285,0.000000,0.000000,24.351606,24.222143,17.080000,2.556607,-19.507143,0.000000,0.000000
2469072,36802859,21.632877,1,0,1336,0,37008867,38,6,4,...,0.000000,0.000000,0.000000,25451.923828,2386.468506,22268.082031,797.374451,0.000000,0.000000,0.000000
2469073,36812535,27.178082,0,1,1321,0,37015057,104,-1,4,...,0.000000,0.075167,0.000000,469.219666,53.184021,349.831573,13.838995,0.000000,52.365070,0.000000
2469074,36814071,47.326027,0,1,3528,0,36029658,14,-1,2,...,0.000000,1.655172,0.002069,3823.725586,577.409302,1437.004883,658.953796,0.000000,574.764832,575.592773
2469075,36826756,20.665753,0,1,1299,0,37052920,70,26,5,...,0.000000,0.000000,0.000000,62.525791,8.705439,50.776669,3.043684,0.000000,0.000000,0.000000

In [32]:
df_partial_import.closed_within_next_month.mean()

0.005356659738298862

### Look at data to make sure it's what we expect

In [29]:
def df_stats(df):
    print(df.dtypes)
    print('_'*100)
    # dataframe.size 
    size = df.size 

    # dataframe.shape 
    shape = df.shape 

    # dataframe.ndim 
    df_ndim = df.ndim 

    #df mem usage
    df_memu = df.memory_usage() 


    # printing size and shape 
    print("Size = {}\n\
    Shape = {}\n\
    Shape[0] x Shape[1] = {}\n\
    Memory Usage = \n{}". 
    format(size, shape, shape[0]*shape[1], df_memu))

In [30]:
df_stats(df_partial_import)

party_key                                             int64
person_age                                          float64
male                                                  int64
female                                                int64
account_age_days                                      int64
closed_within_next_month                              int64
account_key                                           int64
trans_count_total_1                                   int32
trans_count_total_dif                                 int32
trans_count_deposits_1                                int32
trans_count_deposits_dif                              int32
trans_count_purchases_payments_1                      int32
trans_count_purchases_payments_dif                    int32
trans_count_withdrawals_1                             int32
trans_count_withdrawals_dif                           int32
trans_count_transfers_1                               int32
trans_count_transfers_dif                             int32
trans_count_fees_1                                    int32
trans_count_fees_dif                                  int32
trans_count_misc_1                                    int32
trans_count_misc_dif                                  int32
trans_count_total_2                                   int32
trans_count_deposits_2                                int32
trans_count_purchases_payments_2                      int32
trans_count_withdrawals_2                             int32
trans_count_transfers_2                               int32
trans_count_fees_2                                    int32
trans_count_misc_2                                    int32
transaction_amt_1                                   float32
transaction_amt_dif                                 float32
                                                     ...
transaction_amt_misc_1                              float32
transaction_amt_misc_dif                            float32
trans_post_ledger_bal_amt_1                         float32
trans_post_ledger_bal_amt_dif                       float32
trans_post_ledger_bal_amt_deposits_1                float32
trans_post_ledger_bal_amt_deposits_dif              float32
trans_post_ledger_bal_amt_purchases_payments_1      float32
trans_post_ledger_bal_amt_purchases_payments_dif    float32
trans_post_ledger_bal_amt_withdrawals_1             float32
trans_post_ledger_bal_amt_withdrawals_dif           float32
trans_post_ledger_bal_amt_transfers_1               float32
trans_post_ledger_bal_amt_transfers_dif             float32
trans_post_ledger_bal_amt_fees_1                    float32
trans_post_ledger_bal_amt_fees_dif                  float32
trans_post_ledger_bal_amt_misc_1                    float32
trans_post_ledger_bal_amt_misc_dif                  float32
transaction_amt_2                                   float32
transaction_amt_deposits_2                          float32
transaction_amt_purchases_payments_2                float32
transaction_amt_withdrawals_2                       float32
transaction_amt_transfers_2                         float32
transaction_amt_fees_2                              float32
transaction_amt_misc_2                              float32
trans_post_ledger_bal_amt_2                         float32
trans_post_ledger_bal_amt_deposits_2                float32
trans_post_ledger_bal_amt_purchases_payments_2      float32
trans_post_ledger_bal_amt_withdrawals_2             float32
trans_post_ledger_bal_amt_transfers_2               float32
trans_post_ledger_bal_amt_fees_2                    float32
trans_post_ledger_bal_amt_misc_2                    float32
Length: 70, dtype: object
____________________________________________________________________________________________________
Size = 172835320
    Shape = (2469076, 70)
    Shape[0] x Shape[1] = 172835320
    Memory Usage =
Index                                                     80
party_key                                           19752608
person_age                                          19752608
male                                                19752608
female                                              19752608
account_age_days                                    19752608
closed_within_next_month                            19752608
account_key                                         19752608
trans_count_total_1                                  9876304
trans_count_total_dif                                9876304
trans_count_deposits_1                               9876304
trans_count_deposits_dif                             9876304
trans_count_purchases_payments_1                     9876304
trans_count_purchases_payments_dif                   9876304
trans_count_withdrawals_1                            9876304
trans_count_withdrawals_dif                          9876304
trans_count_transfers_1                              9876304
trans_count_transfers_dif                            9876304
trans_count_fees_1                                   9876304
trans_count_fees_dif                                 9876304
trans_count_misc_1                                   9876304
trans_count_misc_dif                                 9876304
trans_count_total_2                                  9876304
trans_count_deposits_2                               9876304
trans_count_purchases_payments_2                     9876304
trans_count_withdrawals_2                            9876304
trans_count_transfers_2                              9876304
trans_count_fees_2                                   9876304
trans_count_misc_2                                   9876304
transaction_amt_1                                    9876304
                                                      ...
transaction_amt_misc_1                               9876304
transaction_amt_misc_dif                             9876304
trans_post_ledger_bal_amt_1                          9876304
trans_post_ledger_bal_amt_dif                        9876304
trans_post_ledger_bal_amt_deposits_1                 9876304
trans_post_ledger_bal_amt_deposits_dif               9876304
trans_post_ledger_bal_amt_purchases_payments_1       9876304
trans_post_ledger_bal_amt_purchases_payments_dif     9876304
trans_post_ledger_bal_amt_withdrawals_1              9876304
trans_post_ledger_bal_amt_withdrawals_dif            9876304
trans_post_ledger_bal_amt_transfers_1                9876304
trans_post_ledger_bal_amt_transfers_dif              9876304
trans_post_ledger_bal_amt_fees_1                     9876304
trans_post_ledger_bal_amt_fees_dif                   9876304
trans_post_ledger_bal_amt_misc_1                     9876304
trans_post_ledger_bal_amt_misc_dif                   9876304
transaction_amt_2                                    9876304
transaction_amt_deposits_2                           9876304
transaction_amt_purchases_payments_2                 9876304
transaction_amt_withdrawals_2                        9876304
transaction_amt_transfers_2                          9876304
transaction_amt_fees_2                               9876304
transaction_amt_misc_2                               9876304
trans_post_ledger_bal_amt_2                          9876304
trans_post_ledger_bal_amt_deposits_2                 9876304
trans_post_ledger_bal_amt_purchases_payments_2       9876304
trans_post_ledger_bal_amt_withdrawals_2              9876304
trans_post_ledger_bal_amt_transfers_2                9876304
trans_post_ledger_bal_amt_fees_2                     9876304
trans_post_ledger_bal_amt_misc_2                     9876304
Length: 71, dtype: int64

In [35]:
df_partial_import.to_pickle(r'data/deposit_data_consensed.pkl')